@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 80px;
}

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
    
}

.navlist {
    display: flex;
    list-style: none;
    gap: 23rem;
}

.navitem a {
    position: relative;
    text-decoration: none;
    color: #fb2118;
    padding-bottom: 4px;
    font-size: 28px;
}

.navitem a:hover {
    color: rgb(84, 84, 84);
}

.navitem a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(84, 84, 84);
    color: rgb(84, 84, 84);
    transform: translateX(-50%);
}

.navitem a:hover::after {
    width: 100%;
}


.divisionbar {
    background-color: #fb2118;
    color: #fb2118;
    height: 10px;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
}